## What kind of data does pandas handle?

In [1]:
import pandas as pd

In [9]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)
df["Age"].max()

58

In [10]:
df["Age"].mean()

38.333333333333336

### Do something with a DataFrame or Series

In [11]:
# You can create a Series from scratch
ages = pd.Series([22, 35, 58], name="Age")
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [12]:
df["Age"].max()

58

In [14]:
ages.describe()

count     3.000000
mean     38.333333
std      18.230012
min      22.000000
25%      28.500000
50%      35.000000
75%      46.500000
max      58.000000
Name: Age, dtype: float64

In [15]:
ages.std()

18.230011885167087

## How do I read and write tabular data?

In [ ]:
titanic_raw  = "https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/titanic.csv"
titanic = pd.read_csv(titanic_raw)
titanic.head(8)

In [19]:
# How many passenger in titanic
titanic["Pclass"].count()

891

In [ ]:
# I want to see the first 10 rows of a pandas DataFrame.
titanic.head(10)

In [ ]:
# I want to see the last 10 rows of a pandas DataFrame.
titanic.tail(8)

In [ ]:
# A check on how pandas interpreted each of the column data types
titanic.dtypes

In [ ]:
# My colleague requested the Titanic data as a spreadsheet.
titanic.to_excel("titanic.xlsx", sheet_name="passengers", index=False)

In [ ]:
# I’m interested in a technical summary of a DataFrame
titanic.info()

In [ ]:
# Age Statistical summary 
titanic["Age"].describe()

## How do I select a subset of a DataFrame?

In [ ]:
# I’m interested in the age of the Titanic passengers.
ages = titanic["Age"]
ages.head()

In [35]:
# Get the shape of the output (nrows, ncolumns).
titanic.shape

(891, 12)

In [ ]:
# I’m interested in the age and sex of the Titanic passengers.
age_sex = titanic[["Age", "Sex"]]
age_sex.head()